#include <iostream>
#include <utility>
#include "../int-128-256.hpp"

#define TEST_CASES 1

int main() {

    bool Tests[TEST_CASES];
    for(size_t i=0; i<TEST_CASES; ++i)
        Tests[i] = false;

    int128 ZERO(0,0), ONE(0,1), MAX(0xffffffffffffffff,0xffffffffffffffff);

    int128 ZERO_MIN_ONE = ZERO - ONE;
    if(ZERO_MIN_ONE!=MAX) {
        std::cout << "int128test_zero*one : FAILED\n";
    }
    else {
        std::cout << "int128test_zero*one : PASSED\n";
        Tests[0] = true;
    }

    // end of tests
    
    size_t failed_cnt = 0;
    for(size_t i=0; i<TEST_CASES; ++i) {
        if(!Tests[i])
            failed_cnt++;
    }

    if(!failed_cnt) {
        std::cout << "int128 mul ALL test PASSED\n";
        return 0;
    }
    else {
        std::cout << "int128 mul SOME test FAILED\n";
        return 1;
    }
}